{% extends "londonnet/base.html" %}

{% load static %}

{% block content %}

	<div class="search-banner"></div>
	<div class="sidepanel-left"></div>
	<div class="sidepanel-right"></div>

	<div class="main-title">
		<h1>About</h1>
	</div>

	<div class="mainpage"> </div>

		<div class="entity_main">
<h2>About the project</h2>
<p>The Witnessing London Project enables scholars and members of the public to search the records of Medieval London and to explore the relationships between its people.</p> <p>Thousands of records of property conveyance, judicial materials, and administrtrative records survive that offer information about people, places and events. Those records are now indispensable information sources for scholars—but they are heterogenous in both form and content, and dispersed across many different reference works. To assist researchers to perform searches that span multiple repositories' holdings, the Witnessing project assembles those records and standardizes their information.</p>

<H2>About the designer</H2>
<p>This site is designed and programmed by <a href="https://orcid.org/0000-0002-9225-4934">John McEwan</a>. The site uses the open-source Python-based web framework <a href="https://www.djangoproject.com/">Django</a> and a <a href="https://www.postgresql.org/">Postgresql</a> database.</p> 

<p>The site went public in 2023 and it remains a work in <a href="{% url 'information' infotype='changelog' %}">progress</a>.</p>

<p>I do the programming for this site in my spare time, when my current job in the Saint Louis University Center for Digital Humanities allows. I trained as a medieval historian, but to build this site I've had to acquire a working knowledge of HTML, CSS, JavaScript, SQL, and Python. It's been a fascinating journey.</p>

<p>As a non-profit research project, Witnessing London operates with little funding. The on-going costs of running the site include storage for images, secure backup for the dataset, and server costs. If the project has been useful to you, please consider making a <a href="https://www.paypal.com/donate/?business=B6V6EZXPFCVV2&no_recurring=0&item_name=Help+keep+this+resource+free+and+accessible+by+making+a+donation.&currency_code=USD"> donation </a> and help keep this resource free and accessible.</p>

<h2>History of the project</h2>
<p>The Witnessing London project originates in my doctoral thesis, entitled The Making of a Civic Political Community (2007). In the course of my research, I surveyed property records that originated in the archives of London Bridge. Through that work I became aware of both the extraordinary wealth of property records that survive from thirteenth century London, but also of their potential to help us understand the networks of people that formed the civic community. In the course of that work, I built the first version of the database that would eventually become the Witnessing London dataset. Now augumented with thousands of additional records that contribute tens of thousands of references to Londoners, the Witnessing London project dataset is a unique and unrivalled research tool for thirteenth London. Although I have published several papers drawing on this data, the dataset itself is only now become accessible to the public.</p>

<p>I built the first version of the Witnessing London website in the autumn of 2023. The Witnessing London website, one might say, is the younger sibling of the Digisig website. The Witnessing project borrows code and is similarly built using Django (Python), with Leaflet for maps, and ChartJS for graphs. The Witnessing London dataset is still growing today, and the website itself is a prototype.</p>

<p>A very wide variety of people have contributed to this project over many years. Some have provided inspiration, others mentorship, and many people have contributed data.</p>

<p>What has made this project possible is the kind generosity of innumerable archivists, who have patiently shared the seals in their custody with the author. Without them, this project would not exist.</p>

<h2>Related publications</h2>
<p>‘Reflectance transformation imaging and the future of medieval sigillography’, History Compass, iss. e12477 (2018).<br>
‘The past, present and future of sigillography: towards a new structural standard for seal catalogues’, Archives and Records, vol. 41 (2017), pp.1-20.<br>‘The challenge of the visual: making medieval seals accessible in the digital age’, Journal of Documentation, vol. 71, iss. 5 (2015), 999-1028.
</p>
<br>
<br>
John McEwan 
<div itemscope itemtype="https://schema.org/Person"><a itemprop="sameAs" content="https://orcid.org/0000-0002-9225-4934" href="https://orcid.org/0000-0002-9225-4934" target="orcid.widget" rel="me noopener noreferrer" style="vertical-align:top;"><img src="https://orcid.org/sites/default/files/images/orcid_16x16.png" style="width:1em;margin-right:.5em;" alt="ORCID iD icon">https://orcid.org/0000-0002-9225-4934</a></div>
</div>

</div>


{% endblock %}