{% extends "londonnet/base.html" %}

{% load static %}

{% block content %}

	<div class="home-banner"></div>
	<div class="sidepanel-left"></div>
	<div class="sidepanel-right"></div>

	<div class="main-title">
		<h1>{{pagetitle}}</h1>
	</div>

	<div class="mainpage" id="mainpage"> </div>

	<div class="entity-permalink" id="entity-permalink">
		<div class="permalinkinfo" id="permalinkinfo">
		Permalink
		<button onclick="toggle('entity-permalink')" class="closebutton">X</button>
		<form action="#">
			<label>Copy this URL to link to this page:</label>
			<input id="input" class="text" name="" value="http://www.digisig.org/entity/{{collection.id_collection}}" type="text" readonly>
		</form>
		</div>
	</div>

	<div class="entity_detail" id="entity_detail">
		<h3>Group details <button onclick="toggle('entity-permalink')" class="permalink">Permalink</button></h3> 
		<table>
			<tr>
				<th>Title</th>
				<td>{{group_name.group_name}}</td>
			</tr>
			<tr>
				<th>Group details</th>
				<td>{{group_name.fk_group_class}}</td>
			</tr>
			<tr>
				<th>Total Entries</th>
				<td>{{group_name.fk_group_order}}</td>
			<tr>
			<tr>
				<th>Total References</th>
				<td></td>
			</tr>

			{% for i in report %}
			<tr>
				<th>{{i}}</th>
			</tr>
			{% endfor %}


		</table>
	</div>

	<div class="entity_chartfilter" id="entity_chartfilter">
		<div>
			<h2>Select</h2>		
			<form id="form" action="/information/collections" method="post">
		    	{% csrf_token %}
		    	{{ form.non_field_errors }}
		    	<div class="fieldWrapper">
				    {{ form.collection.errors }}
				    <label for="{{ form.collection.id_for_label }}">Collection <a class="help" href="{% url 'entity' digisig_entity_number=10001607 %}" target="_blank"><i class="fas fa-question-circle"></i></a></label>
				    {{ form.collection }}
				</div>
				<div class="fieldWrapper">
		    		<input class="submit" type="submit" value="Submit">
		    	</div>
			</form>
		</div>
	</div>

	<div class="entity_chart" id="entity_chart">
		<canvas id="Chart1"></canvas>
	</div>

	<div class="entity_seals" id="entity_seals">
		<div class="div-caption">
			Classification <button id="entitybutton1" onclick="tbtoggle('Chart2', 'entitybutton1')" class="entity">+</button>
		</div>
		<div>
			<canvas id="Chart2" style="display:none;"></canvas>
		</div>
	</div>


<script>

var ctx2 = document.getElementById('Chart2').getContext('2d');

// const xValues = ["Italy", "France", "Spain", "USA", "Argentina"];
// const yValues = [[155, 179], [149,189], [144, 201], [124, 200], [115, 200]];
// const barColors = ["red", "green","blue","orange","brown"];


const xValues = [ {% for i in labels1 %} {{i}}, {% endfor %} ];
const yValues = [ {% for i in data1 %} {{i}}, {% endfor %} ];
const zValues = [ {% for i in data2 %} {{i}}, {% endfor %} ];

var chart2 = new Chart(ctx2, {
  type: "bar",
  data: {
	labels: xValues,
    datasets: [{
    	axis: 'y',
    	label: 'Aldermen',
      backgroundColor: "red",
      data: yValues,
      order: 2
    }, {
    	label: 'ML Predicted Date',
      type: 'line',
      backgroundColor: "black",
      data: zValues,
      order: 1
    }]
  },
  options: {
   	indexAxis: 'y',
  	scales: {
  		x: {
  			min:1180,
  		}
  	},
    legend: {display: false},
    title: {
      display: true,
      text: "Comparison of ML dates to Cataloguer Dates"
    }
  }
});


</script>

{% endblock %}